body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 1px solid #d3d3d3;
    background-image: url("background-image.jpg");
    background-size: 960px 540px;
}

#gamearea {
    order: 2;
}

.text {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    min-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.information {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

input[type="button"] {
    order: 3;
}
